:root{
    --tipotexto: 'Lato', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
   font-size: 1em;
}
*,*::before,*::after{
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: flex-end;
    padding: 32px 48px 32px 32px;
    background: #8FBE00;
    border-radius: 8px 8px 0px 0px;
}
.titulo{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 6.4em;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: #3E3E3E;
    padding-left: 12px;
}
@media(min-width:768px){
    .titulo{
        padding: 0px !important;
    }
}
.nombre-input{
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 2em !important;
    line-height: 175% !important;
    color: #3E3E3E !important;
}
.content{
    padding-top: 48px;
    padding-left: 32px;
}
@media(min-width:768px){
    .content{
        padding: 96px;
    }
}
.cajas{
    margin: 48px 0px !important;
}
.grid-2{
    display: grid;
    grid-template-columns: 10% 90%;
}
.grid-3{
    display: grid;
    grid-template-columns: 42px 20px auto !important;
}
.grid--mod{
    display: grid;
    grid-template-columns: 42px 20px !important;    
}
.grid--mod2{
    display: grid;
    grid-template-columns: 52px 20px !important;
}
.icono{
    font-size: 1.6em !important;
    color: #4A90E2;
    width: 100% !important;
    height: 100% !important;
    padding-top: 5px;
}
.span{
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 175%;
    color: #9B9B9B;
}

.input{
    grid-column: 1/4;
     padding: 6px 12px 6px 16px !important;
    
}
.label{
    font-style: normal ;
    font-weight: 600 !important ;
    font-size: 1.6em !important;
    line-height: 175% ;
    color:#3E3E3E !important ;
}
.caja{
    padding: 0 !important;
    margin-right: 32px !important;
    margin-top: 10px !important;
}
.caja-pasaporte{
    margin-right: 20px!important;
}
.input-error{
    border: 1px solid #F35E4B !important;
    border-radius: 4px !important;
}
.input-valid{
    border: 1px solid #459800 !important;
    border-radius: 4px !important;
}

.input-focused{
    border: 1px solid #3E3E3E !important;
}
.input-hover{
    border: 1px solid #CCCCCC !important;
}
.input-hover:hover{
    border: 1px solid #acacac !important;
}
.mutual{
    color: #ffffff;
}

@media(min-width:482px){
    /* .grid--mod{
        grid-template-columns: 42px 20px !important;
    } */
    /* .grid-3{
        grid-template-columns: 15%  10% 75% !important;        
    } */
}
/* @media(min-width:576px){
    .grid--mod{
        grid-template-columns: 12% 10% !important;
    }
    .grid-3{
        grid-template-columns: 42px 20px 85% !important;        
    }
} */
@media(max-width:767px){
    .grid--mod{
        grid-template-columns: 15% 10%;
    }
}
@media(min-width:768px){
    .caja:last-of-type{
        margin-right: 88px !important;
    }
}
@media(max-width:991px){
    .fields{
        display: flex !important;
        flex-direction: column !important;
    }
    .field{
        width: 100% !important;
    }
    /* .grid--mod{
        grid-template-columns: 10% 10%;
    }
    .grid-3{
        grid-template-columns: 42px 20px 90% !important;
    } */
}
/* @media(min-width:992px){
    .grid--mod{
        grid-template-columns: 40% 10% !important;
    }
    .grid-3{
        grid-template-columns: 42px 20px 90% !important;
       
    }
} */
/* @media(min-width:1200px){
    .grid--mod{
        grid-template-columns: 27% 15% !important;
    }
    .grid-3{
        grid-template-columns: 42px 20px 100% !important;

    }
} */

/* /*==========================================
-> TOOLTIP
============================================*/
.tooltip {
    position: relative;
}
.tooltip .tiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(47, 47, 47);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    box-shadow: 10px 15px 10px rgba(115, 115, 115, 0.2);
}
.tooltip .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover .tiptext {
    visibility: visible;
}
.tooltip.top .tiptext{
    margin-left: -60px;
    bottom: 80%;
    left: 50%;
}
.tooltip.top .tiptext::after{
    margin-left: -5px;
    top: 100%;
    left: 50%;
    border-color: #1d1d1d transparent transparent transparent;
} 
.ui.mini.message{
    border: 1px solid red;
    padding: 0 !important;
    border: none !important;
    font-style: normal;
    font-weight: normal;    
    font-size: 1.2em;
    line-height: 175%;
    color: #9B9B9B;
}


/*=======================
-> MENSAJES DEFAULT + HINT
=========================*/
.mensaje{
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 175%;
    color: #9B9B9B;
}
.mensaje-grid{
    grid-column: 1 / 3;
}
.mensaje-valid{
    color:#459800;
}
.mensaje-error{
    color: #F35E4B;
}

/*==========================
-> PHONE
============================*/
.input-phone{
    font-style: normal;
    font-weight: normal;
    font-size: 1.6em !important;
    line-height: 175%;
    padding: 1px 0px 1px 1px !important;
}
.label-phone{
    font-style: normal;
    font-weight: 600;
    font-size: 1.6em !important;
    line-height: 175%;
    background-color: #94ae0023 !important;
    padding: 10px 8px !important;
}
.contenedor-caja{
    padding: 0 !important;
}
.label-phone-disabled{
    background-color: #3e3e3e3e !important;
}
.label-phone-error{
    background-color: #f35f4b2d !important;
}
.input-focused{
    border: 1px solid #cccacab1;
    border-radius: 4px !important;
}
.label-focused{
    background-color: #f3f3f3 !important;
}

/*=========================
-> FECHA
===========================*/
.campo-input{
    position: relative;
    grid-column: 1 / 4;
}
.icono-interno{
    color: #DDDDDD;
    font-size: 1.6em !important;
    position: absolute;
    right: 0.2em;
    top: 0.5em;
    cursor: pointer;

}
.input-fecha{
    font-style: normal;
    font-weight: normal;
    font-size: 1.6em !important;
    line-height: 175%;
    color: #DDDDDD !important;
    padding: 6px 12px 6px 16px !important;
    position:relative;
}
.campo-input-fecha{
    grid-column: 1 / 3;
    position: relative;
}
.input-fecha-hover:hover{
    border:1px solid #96C8DA !important;
    border-radius: 4px;
}
.input-entered{
    color: #858585 !important;
}
.input-activado:focus{
    border: 1px solid #459800 !important;
    outline: none;
}
.input-password{
    font-size: 1.6em !important;
    color: #8a8a8a !important;
}
.text-area{
    font-style: normal;
    font-weight: normal !important;
    font-size: 1.6em !important;
    line-height: 175% !important;
    text-align: justify !important;
    color: #DDDDDD;
    padding: 6px 32px 0px 6px !important;
}
.text-entered::placeholder{
    color: #565656 !important;
    font-weight: 300 !important;
}
.bg-disabled{
    background-color: #dcdcdc !important;
}
.bg-disabled::placeholder{
    color: #2c2c2c !important;
}
.height-focused{
    height: auto;
}
textarea{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height:16px;
    width: 100%;
    display: block;
}
.selection.default:focus{
    border: 1px solid #459800 !important;
}
.selection.normal:focus{
    border: 1px solid #4A90E2 !important;        
}
.focused{
    border: 1px solid #3E3E3E !important;
}
.entered .default.text{
    color: #696969 !important;
}
.dropdown.icon{
    color: #5b5a5a !important;
}
.input-valid .menu{
    border: 1px solid #459800 !important;
}
.focused .menu{
    border: 1px solid #3E3E3E !important;
}
.input-error .menu{
    border: 1px solid #f35f4b !important;
}
.opcional{
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em !important;
    line-height: 175%;
    color: #9B9B9B;
}
.grid-dropdown{
    display: grid;
    grid-template-columns: 55px 40px !important;
}
/* .grid-dropdown .label{
    border: 1px solid blue;
} */
.grid-dropdown span{
    padding-top: 0.4em;
}
.grid--dropdown2{
    display: grid;
    grid-template-columns: 70px 35px !important;
}
.grid--dropdown2 span{
    padding-top: 0.4em;
}
/* .grid--dropdown2 .label{
    border: 1px solid red !important;
} */
.grid--dropdown3{
    display: grid;
    grid-template-columns: 55px 40px auto;
}
/* .grid--dropdown3 .label{
    border: 1px solid fuchsia !important;
} */
.grid--dropdown3 span{
    padding-top: 0.4em;
}

.borde-dropdown{
    border: 1px solid rgb(164, 186, 26) !important;
}
.borde-dropdown .menu{
    border: 1px solid rgb(164, 186, 26) !important;
}
.verde-dropdown{
    color: rgb(164, 186, 26) !important;
}
.text-dropdown{
    font-size: 1em !important;
}